<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore and download the <%= title %> MP3 song by our music platform. Enjoy the audio and discover more about the artist and song details.">
    <meta name="keywords" content="<%= title %> MP3 download, artist song, music, audio, genre, download">
    <meta name="author" content="YTOMP3">
    <title><%= title %></title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
        }

        .song-container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            color: #333;
            max-width: 600px;
            width: 100%;
        }

        .song-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .song-description {
            font-size: 16px;
            margin-top: 20px;
        }

        .custom-audio-player {
            margin-top: 20px;
            text-align: center;
        }

        audio {
            width: 100%;
            margin-top: 10px;
        }

        .audio-controls {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }

        button {
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin: 0 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            border-radius: 5px;
        }

        button:hover {
            background-color: #1C2833;
        }

        input[type="range"] {
            width: 100px;
        }

        .download-link,
        .search-again-link {
            display: inline-block;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 18px;
            margin-top: 20px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .download-link:hover,
        .search-again-link:hover {
            background-color: #1C2833;
        }

        #download-status {
            margin-top: 10px;
            font-weight: bold;
            color: #3498db;
        }

        .keywords {
            margin-top: 20px;
            font-style: italic;
            color: #555;
        }
        .show {
          font-family: 'Arial', sans-serif;
          background-color: #f4f4f4;
          margin: 10px;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        .song-container-show {
          width: 200px;
          margin: 10px;
          background-color: #fff;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          overflow: hidden;
          transition: transform 0.2s ease-in-out;
          cursor: pointer;
          position: relative;
        }
        .song-container-show:hover {
          transform: scale(1.05);
        }
        .song-thumbnail-show {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
        .song-info-show {
          padding: 10px;
        }
        .song-title-show {
          font-weight: bold;
          margin-bottom: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
        .song-container-show:hover .song-title-show {
          white-space: normal;
          overflow: visible;
          text-overflow: unset;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          padding: 10px;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .song-description-show {
          font-size: 12px;
          color: #777;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
          transition: all 0.3s ease-in-out;
        }
        .song-container-show:hover .song-description-show {
          white-space: normal;
          overflow: visible;
          text-overflow: unset;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0.8);
          padding: 10px;
          border-radius: 0 0 8px 8px;
        }
        .song-container-show .song-description-show a {
          text-decoration: none;
          color: inherit;
        }
    </style>
</head>
<body>
    <div class="song-container">
        <div class="song-title"><%= title %></div>
        <div class="song-description"><%= description %></div>
        <div class="custom-audio-player">
            <audio id="custom-audio" preload="none">
                <source src="/<%= downloadUrl %>" type="audio/mpeg">
                Keywords: <%= title %> mp3 download, song, artist, music, genre  
            </audio>
            <div class="audio-controls">
                <button id="play-pause-button" class="play">Play</button>
                <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="1">
            </div>

        </div>
        <a class="download-link" href="/<%= downloadUrl %>">Download mp3</a>
        <a class="search-again-link" href="/audio/search">Search Again</a>
        <h4 id="download-status"></h4>
        <div class="keywords">Keywords: <%= title %> mp3 download, song, artist, music, genre</div>
    </div>
    <div class="show">
    
    <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/adilhe mushkil'">
        <img src="https://i.ytimg.com/vi/6FURuLYrR_Q/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Ae Dil Hai Mushkil - Full Song | Aishwarya | Ranbir | Anushka | @pritam7415 | @SoulfulArijitSingh</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/adilhe mushkil'>You've already made it one of the most loved tracks of the year, here's presenting the Ae Dil Hai Mushkil Music Video. Music- ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/animal-song'">
        <img src="https://i.ytimg.com/vi/oRGhqUjWF6U/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">ANIMAL: ARJAN VAILLY | Ranbir Kapoor | Sandeep Vanga | Bhupinder B, Manan B | Bhushan K</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/animal-song'>WITNESS THE TRUE RAGE & VIOLENCE! PRESENTING THE MOST AWAITED SONG "ARJAN VAILLY" FROM THE HIGHLY ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Insterstella theme song'">
        <img src="https://i.ytimg.com/vi/8kooIgKESYE/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Interstellar Main Theme - Extra Extended - Soundtrack by  Hans Zimmer</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Insterstella theme song'>Interstellar Main Theme - Extra Extented - Soundtrack by Hans Zimmer C'est içi : http://maximelaure.party/monroe/</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/puthumazhayay'">
        <img src="https://i.ytimg.com/vi/GN50IHHUc4U/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Charlie | Puthumazhayai Song Video| Dulquer Salmaan, Parvathy, Aparna Gopinath, Martin Prakkat</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/puthumazhayay'>Watch the Official Song Video of the Melodious "Puthumazhayai" , From Charlie, a Malayalam Movie Starring Dulquer Salmaan, ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/charlie songs'">
        <img src="https://i.ytimg.com/vi/SmNJYC1Awug/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Charlie | Pularikalo Song Video | Dulquer Salmaan, Parvathy | Official</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/charlie songs'>Charlie is a Malayalam Movie starring Dulquer Salmaan, Parvathy, Aparna Gopinath Among Others... Directed by Martin Prakkat; ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/antha aruvi pol'">
        <img src="https://i.ytimg.com/vi/bui3q02NK8Y/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">antha aruvi pol anbai tharuvaal song</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/antha aruvi pol'>antha aruvi pol tharuvaal song</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/gangsta paradise'">
        <img src="https://i.ytimg.com/vi/fPO76Jlnz6c/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Coolio - Gangsta's Paradise (feat. L.V.) [Official Music Video]</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/gangsta paradise'>************************************ Tommy Boy Records is a legendary Hip Hop & Electronic record label founded in New York City ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Ek Mulaqaat'">
        <img src="https://i.ytimg.com/vi/HKw-2tWGr9g/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Ek Mulaqaat (Song): Abhishek Malhan,Sakshi Malik |Javed-Mohsin|Vishal M,Shreya G|Rashmi V|Bhushan K</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Ek Mulaqaat'>Love lets you cross all the hurdles! Witness the heartfelt story of RAJ & ANAYA. Presenting "Ek Mulaqaat (Song)" Starring ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Saari Duniya Jalaa Denge'">
        <img src="https://i.ytimg.com/vi/6DfaBq2rVoE/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Saari Duniya Jalaa Denge(Extended Full Song) Ranbir K,Anil K,Bobby D|Sandeep|B Praak,Jaani|Bhushan K</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Saari Duniya Jalaa Denge'>Due to The Special Demand From The Fans Worldwide. Introducing The Animal Franchise's Most Loved Song "Saari Duniya ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Tu hai kahan'">
        <img src="https://i.ytimg.com/vi/AX6OrbgS8lI/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">AUR - TU HAI KAHAN - Raffey - Usama - Ahad (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Tu hai kahan'>Written/Performed By: Usama Ali, Ahad Khan Produced/Mix Mastered By: @raffeyanwarr Video By Raffey Anwar Edit By Zyan ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/So take aim and fair away song'">
        <img src="https://i.ytimg.com/vi/dhYOPzcsbGM/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker, Sabrina Carpenter & Farruko  - On My Way</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/So take aim and fair away song'>//lnk.to/walkerworld // △ Merch @ https://store.alanwalker.no △ Thanks for listening. - Alan ----- Walkers! The music video for my ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Okdrn a'">
        <img src="https://i.ytimg.com/vi/kxJsCrkvtWo/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">JVKE - golden hour (official music video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Okdrn a'>It was just 2 lovers, Sittin in the car Listening to Blonde Fallin for eachother pink & orange skies, Feelin super childish No donald ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/ok'">
        <img src="https://i.ytimg.com/vi/ZVykC6-T-oU/hq720_2.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">"OK" Official Music Video</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/ok'>On October 10th, 2023, the Mayor of New York City, Eric Adams, made a powerful speech, decrying the celebrations of Hamas ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Vaaliban new song'">
        <img src="https://i.ytimg.com/vi/Dw4Y53cEKMk/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Raakk - Lyrical | Malaikottai Vaaliban | Mohanlal | Lijo Jose Pellissery | Prashant Pillai</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Vaaliban new song'>For more latest songs & videos, subscribe https://bit.ly/Saregama_Malayalam Presenting the thumping second single - "Raakk" ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/houdine'">
        <img src="https://i.ytimg.com/vi/suAR1PYFNYA/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Dua Lipa - Houdini (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/houdine'>_confirmation=1 Follow Dua Lipa: Instagram: https://dualipa.co/instagram Facebook: http://dualipa.co/facebook TikTok: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/a dilhe mushkil song'">
        <img src="https://i.ytimg.com/vi/6FURuLYrR_Q/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Ae Dil Hai Mushkil Title Track Full Video - Ranbir, Anushka, Aishwarya|Arijit|Pritam</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/a dilhe mushkil song'>Enjoy the full song video of one of the most loved tracks of the year, here's presenting the Ae Dil Hai Mushkil Full Song Music ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/a dilhe mushkil songmp3'">
        <img src="https://i.ytimg.com/vi/NY2gKc17YwI/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Ae Dil Hai Mushkil Title SongI Official Lyric VideoI Karan Johar| Aishwarya, Ranbir, Anushka| Pritam</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/a dilhe mushkil songmp3'>Sing along with the official lyric video of Ae Dil Hai Mushkil – The song that is wining hearts and spreading love the world over.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/a dilhe mushkil new version'">
        <img src="https://i.ytimg.com/vi/6FURuLYrR_Q/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">RCR - Ae Dil Hai Mushkil 2.0 || Believer || Official Music Video ||</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/a dilhe mushkil new version'>BCC Music Factory And Amit Majithia Presents "Ae Dil Hai Mushkil 2.0 " By RCR Ft. Kanak Mishra & Hanish Rajput ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/hes back song'">
        <img src="https://i.ytimg.com/vi/DpUv_BHEW9o/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">YEAT - VVV [HES BACK EDIT] (ft. PLAYBOI CARTI) [PROD. SANIKWAVE]</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/hes back song'>VICE Creations     all rights to Sanikwave for the remix *No Commercial* Shop: https://sellfy.com/ViceArtzz Snap: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/The Drum'">
        <img src="https://i.ytimg.com/vi/TicGJQqrq2M/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker - The Drum (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/The Drum'>Hi Walkers, I am excited to bring you a new anthem that I believe will fuel your passions in life! The Drum represents the dawn of ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Fire! (feat. YUQI ((G)I-DLE), JVKE)'">
        <img src="https://i.ytimg.com/vi/rO1ANdXvdTg/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker, YUQI of (G)I-DLE, JVKE - Fire! (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Fire! (feat. YUQI ((G)I-DLE), JVKE)'>I'm so excited to finally share the music video for Fire with you all! I'm happy I got to work with the talented artists @JVKE and ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Who I Am'">
        <img src="https://i.ytimg.com/vi/ccu6JuC21rk/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker, Putri Ariani, Peder Elias - Who I Am (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Who I Am'>This was an emotional video to put together. Looking back at my career like this, I can only be humble, appreciative and truly ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Better Off (Alone, Pt. III)'">
        <img src="https://i.ytimg.com/vi/ouEl3qTLc0M/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker, Dash Berlin & Vikkstar - Better Off (Alone, Pt. III) - Official Music Video</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Better Off (Alone, Pt. III)'>Walkers, Earlier this year, @Vikkstar123 and I decided to go to the studio together – we started on a new version of the 90s hit ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Man On The Moon'">
        <img src="https://i.ytimg.com/vi/1qrhnK6FGr0/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">R.E.M. - Man On The Moon (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Man On The Moon'>As heard in Captain Marvel. "Man On The Moon" from R.E.M.'s 1992 album Automatic For The People. Discover more R.E.M. via ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Heart over Mind'">
        <img src="https://i.ytimg.com/vi/v6oZuqN85D4/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker, Daya - Heart over Mind (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Heart over Mind'>The single "Heart over Mind" features ​⁠@daya on vocals, along with a brand new music video that, yes, takes us back to the ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Somebody Like U'">
        <img src="https://i.ytimg.com/vi/r6koyOHPNVI/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker and Au/Ra - Somebody Like U (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Somebody Like U'>//lnk.to/AlanWalkerWalkerverse And my latest music video, Shut Up with UPSAHL. https://youtu.be/1sESCIMpx0U // For the last ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Back to Beautiful-Alan Walker Remix'">
        <img src="https://i.ytimg.com/vi/xiLsXg-24G4/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Sofia Carson - Back to Beautiful (Official Music Video) ft. Alan Walker</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Back to Beautiful-Alan Walker Remix'>Music video by Sofia Carson performing Back to Beautiful. (C) 2017 Hollywood Records, Inc. http://vevo.ly/9DPR1J #SofiaCarson ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Heading Home'">
        <img src="https://i.ytimg.com/vi/mfSU_XwEnZA/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker & Ruben – Heading Home (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Heading Home'>Walkers! I'm extremely excited to finally release Heading Home! It's a very special song for me, because I first started working on it ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Ik Waar x Faded'">
        <img src="https://i.ytimg.com/vi/uPtyDgWAYM8/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Sawaha X Faded: The Beauty of Arab Music @Muzify</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Ik Waar x Faded'>Sawaha X Faded | Arab music | faded |Alan walker | #Muzify #music @Muzify #viralvideo Download link :- After 10k subscriber ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Lonely'">
        <img src="https://i.ytimg.com/vi/6EEW-9NDM5k/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Akon - Lonely (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Lonely'>(C) 2005 SRC Records, Inc., Universal Records, A Division Of UMG Recordings, Inc. #Akon #Lonely #Remastered.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Believers'">
        <img src="https://i.ytimg.com/vi/7wtfhZwyrcc/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Imagine Dragons - Believer (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Believers'>Directed by Matt Eastin Shop Imagine Dragons: https://smarturl.it/ImagineDragonsShop Sign up for email updates: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Extremes'">
        <img src="https://i.ytimg.com/vi/JarfcfEe2No/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker & Trevor Daniel - Extremes (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Extremes'>//lnk.to/AlanWalkerWalkerverse And my latest music video, Shut Up with UPSAHL. https://youtu.be/1sESCIMpx0U // Walkers, my ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Routine'">
        <img src="https://i.ytimg.com/vi/oJ7Q4MjxE-0/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">ROUTINE (Official Video) Gur Sidhu | Jasmine Sandlas | Kaptaan | New Punjabi Song 2023 |Punjabi Song</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Routine'>Brown Town Music & Nav Sandhu Presents New Punjabi Song Routine By Gur Sidhu Ft Jasmine Sandlas. Listen to Routine song ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Fake A Smile'">
        <img src="https://i.ytimg.com/vi/6tkaatkbC2Y/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker x salem ilese - Fake A Smile (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Fake A Smile'>We've landed, Walkers. Welcome back to the World of Walker. I'm so excited to finally share my latest single with you all alongside ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Don't You Hold Me Down'">
        <img src="https://i.ytimg.com/vi/rV_O6Q2KSN0/hqdefault.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker & Georgia Ku - Don't You Hold Me Down (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Don't You Hold Me Down'>Walker Racing League continues I'm excited to share this song alongside the talented @georgiaku1001. Walkers, there's a lot ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Out Of Love'">
        <img src="https://i.ytimg.com/vi/oljXXw0wgmg/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Lil Tecca - Out of Love (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Out Of Love'>Prod. Nick Mira x Taz Taylor x Repko x TheSkyBeats & Saint Luca Directed by: Omar Jones (@freeomarjones) Produced by: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/OK'">
        <img src="https://i.ytimg.com/vi/eturKfbBxA4/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">OK - SJ Demarco , Danger Boe & Faith25 ( Official Music Video )</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/OK'>FRONTLINE PRODUCTION FILM © COPYRIGHT RESERVED 2023 ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Are You Lonely (Steve Aoki Remix)'">
        <img src="https://i.ytimg.com/vi/Wrgp3Rp1kPY/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Steve Aoki & Alan Walker - Are You Lonely feat. ISÁK (Official Video) [Ultra Music]</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Are You Lonely (Steve Aoki Remix)'>Directed by: Jarand Herdal, Kristian Berg and Erik Ferguson Concept by: Kristian Berg & MER Recordings Executive Producer: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Fake A Smile K-391 Remix'">
        <img src="https://i.ytimg.com/vi/M0BA59vYanU/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">@Alanwalkermusic & salem ilese - Fake A Smile (K391 Remix Visualizer)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Fake A Smile K-391 Remix'>so happy that I got to do a remix of my good friend @Alanwalkermusic's track Fake A Smile, and I'm very excited for you to finally ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Sorry 2021 Dance Edition, Originally Performed by Alan Walker & Isák Cover'">
        <img src="https://i.ytimg.com/vi/72agGC5b_Yo/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker & ISÁK - Sorry (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Sorry 2021 Dance Edition, Originally Performed by Alan Walker & Isák Cover'>I know it's easy to think about all of the negatives that have happened in the past year, but Walkers, let's come together to think ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Space Melody'">
        <img src="https://i.ytimg.com/vi/eXzestWGq2U/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">@VIZEofficial  x Alan Walker – Space Melody (Edward Artemyev) feat. Leony (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Space Melody'>Walkers, have you been enjoying the journey with me to 2021 so far? Space Melody was such a fun song to make alongside ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Hello World Remix'">
        <img src="https://i.ytimg.com/vi/tsjdb4oc6TM/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker - Hello World Remix  (New Song 2022)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Hello World Remix'>Alan Walker - Hello World Remix (New Song 2022) ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Stupid Love Song'">
        <img src="https://i.ytimg.com/vi/8Ap7aJsfaXQ/hqdefault.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">🎵Stupid Love - Salbakuta [Lyrics]</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Stupid Love Song'>Image: https://images.app.goo.gl/fWyN2G5WBYXcRq8k7.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Don't Know'">
        <img src="https://i.ytimg.com/vi/_P3R63mmakg/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Eminem - You Don't Know (Official Music Video) ft. 50 Cent, Cashis, Lloyd Banks</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Don't Know'>REMASTERED IN HD! Music video by Eminem performing You Don't Know. (C) 2006 Shady Records/Interscope Records ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Paradise Dance Mix'">
        <img src="https://i.ytimg.com/vi/O0vf2EfesOA/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">MEGAMIX DANCE MUSIC PARADISE REMIX 2024</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Paradise Dance Mix'>MEGAMIX DANCE MUSIC PARADISE REMIX 2024 Thanks for watching !!! If it feels good Please like, share this video !</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Sweet Dreams (Mari Ferrari & Rompasso Remix)'">
        <img src="https://i.ytimg.com/vi/Kxxy0Ji8eBc/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alan Walker, Imanbek - Sweet Dreams (Mari Ferrari & Rompasso Remix) | #GANGSTERMUSIC</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Sweet Dreams (Mari Ferrari & Rompasso Remix)'>• SEND YOUR MUSIC TO US - gangsterxmusic@gmail.com • If you are the owner & want image to be removed, or at least get the ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Sky song'">
        <img src="https://i.ytimg.com/vi/b5BNUa_op2o/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Sing-along with Johnny to Sky Full of Stars | Sing 2</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Sky song'>Look for Sing 2 on Blu-ray, DVD and Digital with more Super Sing-Alongs! All your favorite singing, dancing all-stars from ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/what royality song'">
        <img src="https://i.ytimg.com/vi/oOi3oJmfz4o/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Egzod & Maestro Chives - Royalty (Lyrics) ft. Neoni</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/what royality song'>......... Lyrics: Egzod & Maestro Chives - Royalty ft. Neoni [Verse 1] Say I'm cold hearted But I'm just getting started Got my eyes ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/DJ'">
        <img src="https://i.ytimg.com/vi/EhqU--BzbSk/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">DJ REMIX 2024 - Mashups & Remixes of Popular Songs 2024 - DJ Disco Remix Club Music Songs Mix 2024</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/DJ'>Music Mix 2024 Remixes of Popular Songs EDM Bass Boosted Music Mix ➤ Listen on Spotify: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Perfect'">
        <img src="https://i.ytimg.com/vi/2Vv-BfVoq4g/hqdefault.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Ed Sheeran - Perfect (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Perfect'>Taken from the studio album ÷ (divide) released in 2017, which featured the hit singles 'Castle on the Hill', 'Shape of You', ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/I Gotta Feeling'">
        <img src="https://i.ytimg.com/vi/uSD4vsh1zDA/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">The Black Eyed Peas - I Gotta Feeling (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/I Gotta Feeling'>REMASTERED IN HD! Official Music Video for I Gotta Feeling performed by Black Eyed Peas. Follow Black Eyed Peas Instagram: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/The Way I Are'">
        <img src="https://i.ytimg.com/vi/U5rLz5AZBIA/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Timbaland - The Way I Are (Official Music Video) ft. Keri Hilson, D.O.E., Sebastian</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/The Way I Are'>Official Music Video for The Way I Are performed by Timbaland ft. Keri Hilson, D.O.E., Sebastian. Follow Timbaland: Facebook: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/One More Night'">
        <img src="https://i.ytimg.com/vi/fwK7ggA3-bU/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Maroon 5 - One More Night (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/One More Night'>Music video by Maroon 5 performing One More Night. (C) 2012 A&M/Octone Records.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Boom Boom Pow'">
        <img src="https://i.ytimg.com/vi/4m48GqaOz90/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">The Black Eyed Peas - Boom Boom Pow (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Boom Boom Pow'>REMASTERED IN HD! Official Music video for Boom Boom Pow performed by Black Eyed Peas. Follow Black Eyed Peas ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Just A Dream'">
        <img src="https://i.ytimg.com/vi/N6O2ncUKvlg/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Nelly - Just A Dream (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Just A Dream'>REMASTERED IN HD! UP TO 4K!! Official Music Video for Just A Dream performed by Nelly. Listen to the Best Of playlist from ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Don't Let Go (Love)'">
        <img src="https://i.ytimg.com/vi/mwhwGmoYv1s/hqdefault.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">En Vogue - Don't Let Go (Love) (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Don't Let Go (Love)'>******************* Welcome to the official YouTube channel of chart-topping female R&B vocal group, En Vogue. This is the home ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Whatcha Say'">
        <img src="https://i.ytimg.com/vi/pBI3lc18k8Q/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Jason Derulo - Whatcha Say [Official Music Video]</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Whatcha Say'>Jason Derulo is a singer-songwriter renowned for his hit songs “Swalla,” “Wiggle,” "Talk Dirty," “Whatcha Say,” “Trumpets,” and ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Ironic Live'">
        <img src="https://i.ytimg.com/vi/4CS7_wkxMoA/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Alanis Morissette - Ironic (with Taylor Hawkins) (The Prince's Trust Masters Of Music 1996)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Ironic Live'>Alanis performing live in front of more than 150000 people at The Prince's Trust Masters Of Music event in London's Hyde Park on ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/I Love You Always Forever'">
        <img src="https://i.ytimg.com/vi/SqdWTeXWvOg/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Donna Lewis - I Love You Always Forever (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/I Love You Always Forever'>Watch the official video for Donna Lewis' "I Love You Always Forever" from her 1996 debut album, 'Now in a Minute.' Subscribe to ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Shape of You'">
        <img src="https://i.ytimg.com/vi/JGwWNGJdvx8/hqdefault.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Ed Sheeran - Shape of You (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Shape of You'>The official music video for Ed Sheeran - Shape Of You Subtract, the new album, out 05.05.2023. Pre-order: es.lnk.to/subtract ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Without Me'">
        <img src="https://i.ytimg.com/vi/YVkUvmDQ3HY/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Eminem - Without Me (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Without Me'>Music video by Eminem performing Without Me. (C) 2002 Aftermath Records #Eminem #WithoutMe #Remastered.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Big Girls Dont Cry (Personal)'">
        <img src="https://i.ytimg.com/vi/agrXgrAgQ0U/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Fergie - Big Girls Don't Cry (Personal) (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Big Girls Dont Cry (Personal)'>Music video by Fergie performing Big Girls Don't Cry. YouTube view counts pre-VEVO: 31441176. (C) 2007 will.i.am Music ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Stitches'">
        <img src="https://i.ytimg.com/vi/VbfpW0pbvaU/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Shawn Mendes - Stitches (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Stitches'>New album WONDER available now Listen here: https://wonder.lnk.to/OutNow Follow Shawn Mendes Instagram ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Bent'">
        <img src="https://i.ytimg.com/vi/RmYf6qA5QIY/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Kyle Richh x Jenn Carter x TaTa x MCVERTT - BENT (OFFICIAL MUSIC VIDEO) [41]</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Bent'>kylerichh #jenncarter #41 #hennessy Download/stream “Bent" by @kylerichh_ , @jenncarter8380 , ft. @tataofficial4232 (41) out ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Down'">
        <img src="https://i.ytimg.com/vi/oUbpGmR1-QM/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Jay Sean - Down ft. Lil Wayne (Official Music Video) ft. Lil Wayne</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Down'>REMASTERED IN HD! Official Music Video for Down performed by Jay Sean. Watch more remastered videos!</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Where Is The Love'">
        <img src="https://i.ytimg.com/vi/WpYeekQkAdc/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">The Black Eyed Peas - Where Is The Love? (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Where Is The Love'>REMASTERED IN HD - UP TO 4K!! Official Music Video for Where Is The Love? performed by Black Eyed Peas. Follow Black ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Lovefool'">
        <img src="https://i.ytimg.com/vi/NI6aOFI7hms/hq2.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">The Cardigans - Lovefool (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Lovefool'>REMASTERED IN HD! Click here to stream and download more music from The Cardigans: https://lnk.to/TheCardigans ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Umbrella'">
        <img src="https://i.ytimg.com/vi/CvBfHwUxHIk/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Rihanna - Umbrella (Orange Version) (Official Music Video) ft. JAY-Z</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Umbrella'>Music video by Rihanna performing Umbrella. (C) 2007 The Island Def Jam Music Group #Rihanna #Umbrella #Remastered.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Here Without You'">
        <img src="https://i.ytimg.com/vi/kPBzTxZQG5Q/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">3 Doors Down - Here Without You (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Here Without You'>REMASTERED IN HD! Music video by 3 Doors Down performing Here Without You. (C) 2002 Universal Records, a Division of ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/The Reason'">
        <img src="https://i.ytimg.com/vi/fV4DiAyExN0/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Hoobastank - The Reason (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/The Reason'>REMASTERED IN HD! Check out 'The Reason (15th Anniversary)' wherever you stream music & on vinyl: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Girls Like You'">
        <img src="https://i.ytimg.com/vi/aJOTlE1K90k/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Maroon 5 - Girls Like You ft. Cardi B (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Girls Like You'>Music video by Maroon 5 performing Girls Like You. © 2018 Interscope Records http://vevo.ly/51VylS.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Gives You Hell'">
        <img src="https://i.ytimg.com/vi/uxUATkpMQ8A/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">The All-American Rejects - Gives You Hell (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Gives You Hell'>REMASTERED IN HD! Official Music Video for Gives You Hell performed by The All-American Rejects. Follow The All-American ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Bad Romance'">
        <img src="https://i.ytimg.com/vi/qrO4YZeyl0I/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Lady Gaga - Bad Romance (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Bad Romance'>Music video by Lady Gaga performing Bad Romance. (C) 2009 Interscope Records.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Don't Speak'">
        <img src="https://i.ytimg.com/vi/TR3Vdo5etCQ/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">No Doubt - Don't Speak (Official 4K Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Don't Speak'>REMASTERED IN HD! UP TO 4K!! No Doubt's official music video for 'Don't Speak'. Watch more No Doubt Remastered music ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/DJ Got Us Fallin' In Love'">
        <img src="https://i.ytimg.com/vi/C-dvTjK_07c/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Usher - DJ Got Us Fallin' In Love (Official Music Video) ft. Pitbull</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/DJ Got Us Fallin' In Love'>Chorus: 'Cause baby, tonight The DJ got us falling in love again (Love again) Yeah, baby, tonight The DJ got us falling in love ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Locked out of Heaven'">
        <img src="https://i.ytimg.com/vi/e-fA-gBCkj0/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Bruno Mars - Locked Out Of Heaven (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Locked out of Heaven'>The official music video for Bruno Mars' "Locked Out Of Heaven" from the album 'Unorthodox Jukebox'. Directed by Cameron ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/We Belong Together'">
        <img src="https://i.ytimg.com/vi/0habxsuXW4g/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Mariah Carey - We Belong Together (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/We Belong Together'>REMASTERED IN HD! Music video by Mariah Carey performing We Belong Together. (C) 2005 The Island Def Jam Music Group ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Hold My Hand'">
        <img src="https://i.ytimg.com/vi/O2CIAKVTOrc/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Lady Gaga - Hold My Hand (From “Top Gun: Maverick”) [Official Music Video]</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Hold My Hand'>Directed by Joseph Kosinski – Director of Top Gun: Maverick Follow Lady Gaga: Facebook: http://gaga.lk/facebook Instagram: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/All Star'">
        <img src="https://i.ytimg.com/vi/AZjeWZHWcQg/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Smash Mouth - All Star (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/All Star'>REMASTERED IN HD! Smash Mouth's official music video for 'All Star'. Revisit more 90's music videos: ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/I Know'">
        <img src="https://i.ytimg.com/vi/X7aF3nZOS98/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Travis Scott - I KNOW ? (Official Music Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/I Know'>Travis Scott - I KNOW ? (Official Music Video) "UTOPIA" available at: https://TravisScott.lnk.to/UTOPIA Directed by Dave Meyers ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Slide'">
        <img src="https://i.ytimg.com/vi/8Ee4QjCEHHc/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Goo Goo Dolls - Slide [Official Music Video]</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Slide'>Goo Goo Dolls is a rock band renowned for their hits “Iris,” “Slide,” “Name,” “Black Balloon,” “Better Days,” “Come To Me,” and ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Meance song'">
        <img src="https://i.ytimg.com/vi/9o8d2HZE0Yc/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Menace</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Meance song'>Provided to YouTube by visioner. Menace · visioner. Menace ℗ 2023 visioner. Released on: 2023-02-06 Auto-generated by ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Saari Duniya Jalaa Denge _ Video _ Ranbir _ Bobby || Saari Duniya Jalaa Denge Animal Movies Songs'">
        <img src="https://i.ytimg.com/vi/6DfaBq2rVoE/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">ANIMAL: Saari Duniya Jalaa Denge (Film Version) Ranbir K, Bobby D, Sandeep, B Praak,Jaani, Bhushan K</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Saari Duniya Jalaa Denge _ Video _ Ranbir _ Bobby || Saari Duniya Jalaa Denge Animal Movies Songs'>They're Tied In Blood & They Won't Stop! Witness the Bond of Blood! Presenting The Most Loved Song All Across "Saari Duniya ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Satranga Mashup 2023 Mashup Song 99 M Best of Arijit Singh Songs 2023 ANIMAL SATRANGA Best Of 2023'">
        <img src="https://i.ytimg.com/vi/twpey9Pfx3s/hqdefault.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Satranga Mashup 2023 Mashup Song 99 M Best of Arijit Singh Songs 2023 ANIMAL SATRANGA Best Of 2023</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Satranga Mashup 2023 Mashup Song 99 M Best of Arijit Singh Songs 2023 ANIMAL SATRANGA Best Of 2023'>Satranga Mashup 2023 Mashup Song 99 M Best of Arijit Singh Songs 2023 ANIMAL SATRANGA Best Of 2023 Satranga Mashup ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Salooq - Lyrical | MOH | B Praak | Jaani | Gitaj Bindrakhia, Sargun Mehta | Jagdeep Sidhu | Sad Song'">
        <img src="https://i.ytimg.com/vi/eF0Qos8NnSA/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Salooq - Lyrical | MOH | B Praak | Jaani | Gitaj Bindrakhia, Sargun Mehta | Jagdeep Sidhu | Sad Song</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Salooq - Lyrical | MOH | B Praak | Jaani | Gitaj Bindrakhia, Sargun Mehta | Jagdeep Sidhu | Sad Song'>Shri Narotam Ji Studios, Tips Films Ltd & Orion Studios presents the new Punjabi sad love song in the lyrical version “SALOOQ” ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/ANIMAL: saari duniya jalaa denge ( slowed+reverb ) song Bpraak new song agar tujhe ho gya kuch'">
        <img src="https://i.ytimg.com/vi/gR_Fb7XkW6c/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Saari Duniya Jalaa Denge (Slowed + Reverb) | Jaani, B Praak | Animal | SR Lofi</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/ANIMAL: saari duniya jalaa denge ( slowed+reverb ) song Bpraak new song agar tujhe ho gya kuch'>Saari Duniya Jalaa Denge (Slowed + Reverb) | Jaani, B Praak | Animal | SR Lofi Presenting (Slowed + Reverb) Version of Saari ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Mann Jogiya | Official Song | Arijit Singh,Ishita Vishwakarma | Anique | Dheeraj | Pyaar Hai Toh Hai'">
        <img src="https://i.ytimg.com/vi/2oK_SyDC6pU/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Mann Jogiya | Official Song | Arijit Singh,Ishita Vishwakarma | Anique | Dheeraj | Pyaar Hai Toh Hai</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Mann Jogiya | Official Song | Arijit Singh,Ishita Vishwakarma | Anique | Dheeraj | Pyaar Hai Toh Hai'>Melting hearts with every note, 'Mann Jogiya' beautifully sung by Arijit Singh and Ishita Vishwakarma, sweeps us away into a ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/RCR - Ae Dil Hai Mushkil 2.0 || Believer || Official Music Video'">
        <img src="https://i.ytimg.com/vi/qb3PXLpLk4A/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">RCR - Ae Dil Hai Mushkil 2.0 || Believer || Official Music Video ||</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/RCR - Ae Dil Hai Mushkil 2.0 || Believer || Official Music Video'>BCC Music Factory And Amit Majithia Presents "Ae Dil Hai Mushkil 2.0 " By RCR Ft. Kanak Mishra & Hanish Rajput ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/MOVIE: Dhokha Song | Arijit Singh | Khushalii Kumar, Parth, Nishant, Manan B, Mohan S V, Bhushan K'">
        <img src="https://i.ytimg.com/vi/2JBYnvUlAEc/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">MOVIE: Dhokha Song | Arijit Singh | Khushalii Kumar, Parth, Nishant, Manan B, Mohan S V, Bhushan K</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/MOVIE: Dhokha Song | Arijit Singh | Khushalii Kumar, Parth, Nishant, Manan B, Mohan S V, Bhushan K'>Presenting song from MOVIE #Dhokha Gulshan Kumar & T-Series Presents Bhushan Kumar's Motion Picture Track 'Dhokha' by ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Vaaste Song Dhvani Bhanushali, TanishkBagchi Nikhil D Bhushan Kumar RadhikaRao, Vinay Sapru'">
        <img src="https://i.ytimg.com/vi/BBAyRBTfsOU/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Vaaste Song: Dhvani Bhanushali, Tanishk Bagchi | Nikhil D | Bhushan Kumar | Radhika Rao, Vinay Sapru</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Vaaste Song Dhvani Bhanushali, TanishkBagchi Nikhil D Bhushan Kumar RadhikaRao, Vinay Sapru'>Gulshan Kumar Presents latest Hindi Video Song of 2019 Bhushan Kumar's " Vaaste" In the voice of " Dhvani Bhanushali & Nikhil ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Heart Broken Lofi sad Songs | Best of Arijit singh | lofi songs | Alone Night Songs'">
        <img src="https://i.ytimg.com/vi/2Dqzog93L0c/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Heart Broken Lofi sad Songs | Best of Arijit singh | lofi songs | Alone Night Songs |</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Heart Broken Lofi sad Songs | Best of Arijit singh | lofi songs | Alone Night Songs'>Heart Broken Lofi sad Songs | Best of Arijit singh | lofi songs | Alone Night Songs |. Use HeadPhones for better experience ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/BREAKUP MASHUP | SAD LOFI 💔'">
        <img src="https://i.ytimg.com/vi/4rGv---5YUc/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">1 Hour Breakup Mashup | Best Lofi Mashup | S&A Lofi Song Channel</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/BREAKUP MASHUP | SAD LOFI 💔'>1 Hour Breakup Mashup | Best Lofi Mashup | S&A Lofi Song 🎧🎧___Use Headphones For Better Experience___🎧🎧 Thanks For ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Sad Lo-fi Song Mashup | 30 min Non-Stop [ Slowed + Reverb ] Lofi Jukebox'">
        <img src="https://i.ytimg.com/vi/EwH6irklxto/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Sad Lo-fi Song Mashup | 30 min Non-Stop [ Slowed + Reverb ] Lofi Jukebox #sad #lofi #broken</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Sad Lo-fi Song Mashup | 30 min Non-Stop [ Slowed + Reverb ] Lofi Jukebox'>Lofi Music Is The Soul Of Happiness ❤️.... ²⁴/⁷ [ Lofi + Shyari ] Available On Our Channel @UntoldWriter_15 .... Best of Arjit ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Jaan Nisaar Slowed And Reverb Song | Musical India'">
        <img src="https://i.ytimg.com/vi/Q8-YKjjp4Zg/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Jaan Nisaar Slowed And Reverb Song | Musical India</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Jaan Nisaar Slowed And Reverb Song | Musical India'>Jaan Nisaar Slowed And Reverb Song | Musical India Yaar Bedardya x Kahani Suno lofi mashup songs (slowed + reverb) ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Sanam Teri Kasam Title Song | Harshvardhan, Mawra | Himesh Reshammiya, Ankit Tiwari'">
        <img src="https://i.ytimg.com/vi/kRsYLmiowmQ/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">सनम तेरी कसम शीर्षक गीत| आधिकारिक वीडियो | हर्षवर्धन,मावरा | हिमेश रेशमिया, अंकित तिवारी</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Sanam Teri Kasam Title Song | Harshvardhan, Mawra | Himesh Reshammiya, Ankit Tiwari'>ErosNow - भारतीय मनोरंजन में अग्रणी ब्रांड अब हमारे नवीनतम और ब्लॉकबस्टर हिट्स को केवल हमारे आधिकारिक यूट्यूब ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/lutt putt gaye song'">
        <img src="https://i.ytimg.com/vi/tOo5Rn8dRaA/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Lutt Putt Gaya (Full Video) Shah Rukh Khan,Taapsee,Rajkumar H,Pritam,Arijit,Swanand,IP Singh | Dunki</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/lutt putt gaye song'>Presenting the Full Video Song "Lutt Putt Gaya" from the Film Dunki. Starring Shah Rukh Khan, Taapsee Pannu, Boman Irani and ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Janiye | Music Video | Chor Nikal Ke Bhaga | Vishal Mishra, Rashmeet Kaur| Netflix India'">
        <img src="https://i.ytimg.com/vi/H1YR5rsScC8/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Janiye | Music Video | Chor Nikal Ke Bhaga | Vishal Mishra, Rashmeet Kaur| Netflix India</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Janiye | Music Video | Chor Nikal Ke Bhaga | Vishal Mishra, Rashmeet Kaur| Netflix India'>Yeh Janiye, the ada and nasha of this beautiful song has taken our hearts and minds to new heights #ChorNikalKeBhaga ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/ tera fitoor full lofi slowed+reverb'">
        <img src="https://i.ytimg.com/vi/Z42bo45wilY/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Tera Fitoor - Slowed And Reverb || #viral #music #lyrics #aesthetic</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/ tera fitoor full lofi slowed+reverb'>Subscribe for more #arijitsingh #trending #slowedandreverb #terafitoor.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/ALWAYS WITH YOU MASHUP 2024 | ROMANTIC MASHUP | LOVE SONGS - BEST ROMANTIC MASHUP - MISS YOU MASHUP|'">
        <img src="https://i.ytimg.com/vi/Vn86WTFtsGk/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">ALWAYS WITH YOU MASHUP 2024 | ROMANTIC MASHUP | LOVE SONGS - BEST ROMANTIC MASHUP - MISS YOU MASHUP|</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/ALWAYS WITH YOU MASHUP 2024 | ROMANTIC MASHUP | LOVE SONGS - BEST ROMANTIC MASHUP - MISS YOU MASHUP|'>lovemashup2024 #lovemashup #mashup #romanticlovemashup2024 #romanticmashup2024 #romanticlovemashup ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/(Slowed~Reverb) | Hindi Love Song | Lo-fi Song | Jubin nautiyal | Bollywood Songs'">
        <img src="https://i.ytimg.com/vi/_jcHu3c0Pmg/hqdefault.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">1 Hour with Jubin Nautiyal - (Slowed + Reverb) - Lofi songs - Chill - Relax - Study - Soulful Music</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/(Slowed~Reverb) | Hindi Love Song | Lo-fi Song | Jubin nautiyal | Bollywood Songs'>Subscribe.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Galliyan return mashup || Heartbreak chil-out Lyrics vibe's|| Bicky official music 🎵'">
        <img src="https://i.ytimg.com/vi/daAeaCHQiGk/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Galliyan Return Mashup | Heartbreak Chillout 2022 | Ankit Tiwari, B Praak | BICKY OFFICIAL</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Galliyan return mashup || Heartbreak chil-out Lyrics vibe's|| Bicky official music 🎵'>I never thought I would love someone like you Never in my dreams that I would meet you But then, as I travel in my life's journey ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/FIGHTER: Sher Khul Gaye Song, Hrithik, Deepika, Vishal-Sheykhar, Benny, Shilpa, Kumaar, Bosco-Caesar'">
        <img src="https://i.ytimg.com/vi/eL2vQyP6DQE/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">FIGHTER: Sher Khul Gaye Song, Hrithik, Deepika, Vishal-Sheykhar, Benny, Shilpa, Kumaar, Bosco-Caesar</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/FIGHTER: Sher Khul Gaye Song, Hrithik, Deepika, Vishal-Sheykhar, Benny, Shilpa, Kumaar, Bosco-Caesar'>The Wait Is Over! Move with The Squadron Leaders "Shamsher Pathania" Aka "Patty" & "Minal Rathore" Aka "Minni" on The ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Ooenheimer theme'">
        <img src="https://i.ytimg.com/vi/4JZ-o3iAJv4/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Can You Hear The Music</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Ooenheimer theme'>Provided to YouTube by Back Lot Music Can You Hear The Music · Ludwig Göransson Oppenheimer (Original Motion Picture ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/New song'">
        <img src="https://i.ytimg.com/vi/zFvLoiq58Nk/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Justin Timberlake - Selfish (Official Video)</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/New song'>Selfish” out now: https://justintimberlake.lnk.to/selfish Director: Bradley Calder Creative Direction: PlayLab Production: Prettybird ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Mast Magan [Slowed+Reverb] Chinmayi Sripada & Arijit Singh || Textaudio Lyrics (Lofi Music Channel'">
        <img src="https://i.ytimg.com/vi/33kPcchuMAw/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Mast Magan [Slowed+Reverb] Chinmayi Sripada & Arijit Singh || Textaudio Lyrics (Lofi Music Channel</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Mast Magan [Slowed+Reverb] Chinmayi Sripada & Arijit Singh || Textaudio Lyrics (Lofi Music Channel'>Mast Magan [Slowed+Reverb] Chinmayi Sripada & Arijit Singh || Textaudio Lyrics (Lofi Music Channe ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Broken Heart Mashup 2 (2023) | HS Visual Music x Papul | Sad Mashup 2023 | Feel Inside Pain'">
        <img src="https://i.ytimg.com/vi/OfdyGNf6cnU/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Broken Heart Mashup 2 (2023) | HS Visual Music x Papul | Sad Mashup 2023 | Feel Inside Pain</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Broken Heart Mashup 2 (2023) | HS Visual Music x Papul | Sad Mashup 2023 | Feel Inside Pain'>Presenting You Broken Heart Mashup Mashup By : HS Visual Music x Papul Visual & Artwork : HS Visual ▻ HS Visual ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/The Best Of Arijit Singh - Hindi Song'">
        <img src="https://i.ytimg.com/vi/KPk34_zCt-g/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Best of Arijit Singh  l Arijit Singh Romantic Hindi Songs l Arijit Singh New Songs l Audio Jukebox</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/The Best Of Arijit Singh - Hindi Song'>Arijit Singh is Regarded as one of the most versatile and successful singers in the history of Indian music and hindi cinema.l Arijit ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Ye dil hai mushkil (slowed x reverb) song'">
        <img src="https://i.ytimg.com/vi/201MOc0OFhU/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Ae Dil Hai Mushkil (slowed + reverb) - ADHM</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Ye dil hai mushkil (slowed x reverb) song'>Ae Dil Hai Mushkil ( Slowed + Reverb ) Slowed and Reverb Music credit SonyMusicIndiaVEVO no copyright infringement ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Hamari Adhuri Kahani - Arijit Singh Song | Slowed And Reverb Lofi Mix'">
        <img src="https://i.ytimg.com/vi/LnE5A0p2HuM/hqdefault.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Hamari Adhuri Kahani - Arijit Singh Song | Slowed And Reverb Lofi Mix</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Hamari Adhuri Kahani - Arijit Singh Song | Slowed And Reverb Lofi Mix'>Thanks For Watching ❤️ .. Use Headphone For Better Experience.. Telegram - https://t.me/indianslowedandreverb Song ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Shitom Ahmed - Chorabali (Lyrics) || কেন লাগে শূন্য শূন্য বলো || Lyrical Music By Farzan​'">
        <img src="https://i.ytimg.com/vi/TSttuuXoSdc/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Shitom Ahmed - Chorabali (Lyrics) || কেন লাগে শূন্য শূন্য বলো  || Lyrical Music By Farzan​</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Shitom Ahmed - Chorabali (Lyrics) || কেন লাগে শূন্য শূন্য বলো || Lyrical Music By Farzan​'>Subscribe my Channel And Like This Videos And Everyone Support Me.</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Naina - Dangal | Aamir Khan | Arijit Singh | Pritam | Amitabh Bhattacharya | New Song 2017'">
        <img src="https://i.ytimg.com/vi/KzBa4ZKTVjE/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Naina - Dangal | Aamir Khan | Arijit Singh | Pritam | Amitabh Bhattacharya | New Song 2017</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Naina - Dangal | Aamir Khan | Arijit Singh | Pritam | Amitabh Bhattacharya | New Song 2017'>Arijit Singh, Pritam & Amitabh Bhattacharya come together and create magic like only they can with this beautiful song from ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Leke Prabhu Ka Naam Song | Tiger 3 | Salman Khan, Katrina | Pritam | Arijit Singh, Nikhita | Amitabh'">
        <img src="https://i.ytimg.com/vi/6GxXehkPyBs/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Leke Prabhu Ka Naam Song | Tiger 3 | Salman Khan, Katrina | Pritam | Arijit Singh, Nikhita | Amitabh</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Leke Prabhu Ka Naam Song | Tiger 3 | Salman Khan, Katrina | Pritam | Arijit Singh, Nikhita | Amitabh'>Trending Moments: 00:54 - Baithe Baithe Kya Karein 02:04 - Aankhon Mein Tevar Hain 02:57 - Arre Music Vusic Start ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/Kaifi_Khalil_-_Kahani_Suno_2.0_[Official_Music_Video](240p)'">
        <img src="https://i.ytimg.com/vi/_XBVWlI8TsQ/hq720.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">Kaifi Khalil - Kahani Suno 2.0 [Official Music Video]</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/Kaifi_Khalil_-_Kahani_Suno_2.0_[Official_Music_Video](240p)'>Written, Composed & Music by Kaifi Khalil Directed by Muhammad Baloch Mixed & Mastered by Lil AK 100 & Dijay Khalifa ...</a></p>
        </div>
      </div>
    
      <div class="song-container-show" onclick="window.location.href='https://ytomp3.onrender.com/audio/search/O Bedardeya LOFI(Slow and Reverb) Song || Arijit Singh || O Bedardeya || Lofi Song || Muzeer Editz'">
        <img src="https://i.ytimg.com/vi/1FnuQ89I6c0/hqdefault.jpg" alt="Thumbnail" class="song-thumbnail-show" loading="lazy">
        <div class="song-info-show">
          <p class="song-title-show">O Bedardeya LOFI(Slow and Reverb) Song || Arijit Singh || O Bedardeya || Lofi Song || Muzeer Editz</p>
          <p class="song-description-show"><a href='https://ytomp3.onrender.com/audio/search/O Bedardeya LOFI(Slow and Reverb) Song || Arijit Singh || O Bedardeya || Lofi Song || Muzeer Editz'>O Bedardeya LOFI(Slow and Reverb) Song || Arijit Singh || O Bedardeya || Lofi Song || Muzeer Editz ---------------Like, Share and ...</a></p>
        </div>
      </div></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector(".download-link").onclick = () => { document.querySelector("#download-status").textContent = "Downloading started" }
            const audio = document.getElementById("custom-audio");
            const playPauseButton = document.getElementById("play-pause-button");
            const volumeSlider = document.getElementById("volume-slider");

            playPauseButton.addEventListener("click", function () {
                if (audio.paused) {
                    audio.play();
                    playPauseButton.innerText = "Pause";
                } else {
                    audio.pause();
                    playPauseButton.innerText = "Play";
                }
            });

            volumeSlider.addEventListener("input", function () {
                audio.volume = volumeSlider.value;
            });

            const searchAgainLink = document.querySelector(".search-again-link");
            searchAgainLink.addEventListener("click", function (event) {
                event.preventDefault();
                window.location.href = searchAgainLink.getAttribute("href");
            });
        });
    </script>
</body>
</html>
